In [ ]:

import pandas as pd

In [ ]:

df = pd.read_csv("some_data.csv", nrows=100)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:password@localhost:5432/users")
engine.connect()

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df_iter = pd.read_csv("some_data.csv", iterator=True, chunksize=15000)

In [16]:
print(pd.io.sql.get_schema(df, name="taxi_tb", con=engine))

CREATE TABLE taxi_tb (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [17]:
df.to_sql(name="taxi_tb", con=engine, if_exists='replace')

100